[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "public"]
	path = public
	url = https://github.com/SilverStatus/hugo-web.git
	branch = master
